*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

/* Navbar */
.navbar{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.5);
  position: sticky
  top:0;
  
}
.navbar ul{
  display:flex;
  list-style: none;
  margin: 20px 0px
}
.navbar ul{
  font-family: century;
  font-size: 1.1rem
  font weight: bold;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease ;
}
.navbar ul li a:hover{
  background-color: white;
  color:black;
  box-shadow: 0 0 10px white;
}

/* Home Section */
#home{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}

#home ::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
body{
  background-image:url('../images/showcase.jpg');
  background-position: center;
  height: 900 px;
  width: 100%;
  z-index: -1 ;
  opacity: .8
}

.main{
  display: flex;
  flex-direction: column;
  /*border: 1px solid white;*/
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
}

.headings{
  font-family: century;
  font-size:3rem ;
  text-align: center;
  margin: 40px 0px;
}

.btn{
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  transition: .6s ease;
}

.btn:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 5px white);
  font-weight: bold;
}

/*About Section */
#about{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
  color:white;
  
  background-image:url('../images/showcase.jpg');
  background-position: center;
  display: flex;
  height: 900 px;
  width: 100%;
  z-index: -1 ;
  opacity: .8;
}
#intro{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  margin-left: 40px;
  color: white;
  font-size: 32px;
}
#intro h2{
  font size:2rem;
  margin-bottom: 20px;
  color: white;
  text-align: matching-parent;
}

/*Portfolio Section */
#portfolio{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  align-items: center;
  padding: 20px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img{
  width: 360px;
  height: 240px;
  margin: 10px;
}

/* Services Section */
#services{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: sans-serif;
  color: white;
  margin-bottom: 20px;
  
}
.row{
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
}
.box{
  display: flex;
  flex-direction: column;
  background-color: gray ;
  width: 350px;
  height: 450px;
  border: 4px gray;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(black) 50%, white 50%)
  background-size: 100% 200%
  transition: all .8s;

} 

.box:hover{
  background-position: left bottom;
  color: black;
  border: none;
  box-shadow: 0 0 20px rgb(black);
}
.box img{
  width: 80px;
  height: 80px;
  padding: 10px;
}

/* Contact Section */
#contact{
display: flex;
flex-direction: column;
box-sizing: border-box;
background-color:gray;
color: black;
}
.form{
  display:flex ;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}

.input{
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}
#message{
  width:50% ;
  padding:10px ;
  margin: 15px;
  border: none;
  outline: none;
}
#send{
  padding: 5px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
}
#send:hover{
  cursor: pointer;
  box-shadow: 0 0 10px black;
}
